<a
  class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
>
  <span class="fs-5 fw-semibold">LISTA DE CURSOS REGISTRADOS</span>
</a>
<table class="table table-warning table-hover">
  <thead>
    <tr>
      <th>Curso ID</th>
      <th>Descripción</th>
      <th>Estado</th>
      <th class="text-nowrap">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of courses">
      <td>{{ c.idCurso }}</td>
      <td>{{ c.nombreCurso }}</td>
      <td>{{ c.activo }}</td>
      <td class="text-nowrap">
        <i (click)="edit(c.idCurso)" class="bi bi-pencil-square p-1"></i>

        <i class="bi bi-x-square p-1" (click)="delete(c.idCurso)"></i>
      </td>
    </tr>
  </tbody>
</table>
